@import '../../../styles/variables.scss';

.graphiqueRadar {
    width: 280px;
    //width: 100%;
    height: 270px;
    //height: 100%;
    background: #282D30;
    color: $white;
    border-radius: 5px;
    //margin-right: 35px;

    @media only screen and (min-width: 1024px) and (max-width: 1200px) { 
        width: 130px;
        height: 130px;
        margin-right: 5px;
        border-radius: 3px;
    }

    .recharts-responsive-container {
        .recharts-wrapper {
            .recharts-surface {
                .radiusAxis {
                    display: none;
                }

                .recharts-polar-grid {
                    .recharts-polar-grid-angle line {
                        stroke: #282D30;
                    }
                }

                .angleAxis {
                    .recharts-polar-angle-axis-ticks {
                        .recharts-polar-angle-axis-tick {
                            .recharts-polar-angle-axis-tick-value {
                                font-size: 12px;
                                color: $white;

                                @media only screen and (min-width: 1024px) and (max-width: 1200px) { 
                                    font-size: 6px;
                                }
                            }
                        }   
                    } 
                }
            }
        }


        .recharts-polar-grid,
        .recharts-radar{
                transform: scale(.85);
                transform-origin: center center;
        }

        text {
            *{
                fill:white;
            }
        }
    }
}