@import '../../../styles/variables.scss';

.graphiqueRadar {
    width: 258px;
    height: 263px;
    background: #282D30;
    color: $white;
    border-radius: 5px;
    margin-right: 30px;

    .recharts-responsive-container {
        .recharts-wrapper {
            .recharts-surface {
                .radiusAxis {
                    display: none;
                }

                .recharts-polar-grid {
                    .recharts-polar-grid-angle line {
                        stroke: #282D30;
                    }
                }

                .angleAxis {
                    .recharts-polar-angle-axis-ticks {
                        .recharts-polar-angle-axis-tick {
                            .recharts-polar-angle-axis-tick-value {
                                font-size: 12px;
                                color: $white;
                            }
                        }   
                    } 
                }
            }
        }


        .recharts-polar-grid,
        .recharts-radar{
                transform: scale(.85);
                transform-origin: center center;
        }

        text {
            *{
                fill:white;
            }
        }
    }
}