@import '../../styles/variables.scss';

main {

    .mainBody {
        display: flex;

        .sectionRight {
            padding: 50px 100px;

            .statsBlock {
                display: flex;
                
                .stats {
                    width: 835px;
                    margin-right: 30px;

                    .blockGraphs {
                        display: flex;
                    }
                }
            }
        }
    }
   
}