@import '../../../styles/variables.scss';

.customTooltip {
    color: $black;

    .label {
        font-size: 8px;
    }
}

.graphiqueLigne {
    width: 258px;
    //width: 30%;
    height: 263px;
    //height: 30%;
    background: $red1;
    border-radius: 5px;
    //margin-right: 30px;
    position: relative;
    overflow: hidden;

    .titleApp {
        position: absolute;
        margin: 35px 35px 0 35px;
        z-index:100;

        h2 {
            font-size: 15px;
            color: $white;
            font-weight: 100;
            width: 145px;
        } 
    }

    .background {
        position: absolute;
        top:0;
        right:0;
        width:0%;
        height:100%;
        z-index: 999;
        background:black;
        opacity: .1;
        z-index:1;
        pointer-events: none;
    }
    .xAxis{
        transform-origin: center center;
        transform: scale(.9) translateY(20px);
        opacity: .5;
    }
    .recharts-responsive-container {

        .recharts-wrapper {
            max-height: 200px;

            .recharts-surface {
                .recharts-cartesian-grid {
                    display: none;
                }
            }
        }
    }
}