@import '../../../styles/variables.scss';

.customTooltip {
    color: $black;

    .label {
        font-size: 8px;
    }
}

.graphiqueLigne {
    width: 280px;
    //width: 30%;
    height: 270px;
    //height: 30%;
    background: $red1;
    border-radius: 5px;
    //margin-right: 35px;
    position: relative;
    overflow: hidden;

    @media only screen and (min-width: 1024px) and (max-width: 1200px) { 
        width: 130px;
        height: 130px;
        margin-right: 5px;
        border-radius: 3px;
    }

    .titleApp {
        position: absolute;
        margin: 35px 35px 0 35px;
        z-index:100;

        @media only screen and (min-width: 1024px) and (max-width: 1200px) { 
            margin: 15px 15px 0 15px;
        }

        h2 {
            font-size: 15px;
            color: $white;
            font-weight: 100;
            width: 145px;

            @media only screen and (min-width: 1024px) and (max-width: 1200px) { 
                font-size: 8px;
                width: 100px;
                line-height: 15px;
            }
        } 
    }

    .background {
        position: absolute;
        top:0;
        right:0;
        width:0%;
        height:100%;
        z-index: 999;
        background:black;
        opacity: .1;
        z-index:1;
        pointer-events: none;
    }
    .xAxis{
        transform-origin: center center;
        transform: scale(.9) translateY(20px);
        opacity: .5;
    }
    .recharts-responsive-container {

        .recharts-wrapper {
            max-height: 200px;

            .recharts-surface {
                .recharts-cartesian-grid {
                    display: none;
                }
            }
        }
    }
}