@import '../../styles/variables.scss';

.titleSection {
    width: 100%;
    height: auto;

    h1 {
        font-size: 40px;

        @media all and (max-width:1260px) {
            font-size: 25px;
        }

        .prenomValeur {
            color: red;
        }
    }

    p {
        font-size: 18px;
        margin: 1% 0 0;

        @media all and (max-width:1260px) {
            font-size: 15px;    
            margin: 15px 0 0;    
        }
    }
}


