.graphiqueRadial {
    width: 30.89%;
    aspect-ratio: 1 / 1;
    background: #FBFBFB;
    border-radius: 5px;
    position: relative;

    .titleRadial {
        position: absolute;
        margin-top: 24px;
        margin-left: 30px;

        h2 {
            font-size: 15px;
            @media all and (max-width:1260px) { 
                font-size: 12px;
            }
        }
    }

    .pourcentage {
        position: absolute;
        z-index: 1;
        background-color: white;
        //background-color: teal;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        top: 50px;
        left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px;
        

        @media all and (max-width:1260px) { 
            width: 135px;
            height: 135px;
            top: 40px;
            left: 40px;
        }

        .textContainer {
            color:#74798C;
            font-size: 16px;

            @media all and (max-width:1260px) { 
                font-size: 12px;
            }

            .nombreScore {
                color: #282D30;
                font-size: 26px;
                font-weight: 700;
            }     
        }  
    }

    .recharts-wrapper {
        z-index: 2;
        position: relative;
    }
}