@import '../../../styles/variables.scss';

.customTooltipBar {
    background-color: $red;
    padding: 10px 5px;
    color: $white;
    font-size: 8px;
    text-align: center;

    .textTooltip {
        margin-bottom: 20px;
    }
}  

.app {
    border-radius: 5px;

    width: 100%;
    height: 280px;
    max-height: 58%;
    background: $cream;

    .titleApp {
        display: flex;
        justify-content: space-between;
        margin: 24px 32px ;
        
        h2 {
            font-size: 15px;

            @media all and (max-width:1260px) {
                font-size: 12px;
            }
        }

        .legend {
            display: flex;
            justify-content: space-between;
            width: 40%;
            list-style: none;

            .itemBlack, .itemRed {
                font-size: 15px;

                @media all and (max-width:1260px) { 
                    font-size: 10px;
                }
            }

            .itemRed::before, .itemBlack::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 10px; 

                @media all and (max-width:1260px) {
                    width: 5px;
                    height: 5px;
                }
            }

            .itemBlack::before {
                background-color: $black; 
            }

            .itemRed::before {
                background-color: $red; 
            }
        }
    }

    .recharts-wrapper {
        display: flex;
        justify-content: center;

        .recharts-surface {
            .recharts-cartesian-grid {
                .recharts-cartesian-grid-vertical line {
                    stroke: $cream;
                }
            }

            .recharts-yAxis {
                .recharts-cartesian-axis-line {
                    stroke: $cream;
                }
                .recharts-cartesian-axis-ticks {
                    .recharts-cartesian-axis-tick {
                        .recharts-cartesian-axis-tick-line {
                            stroke: $cream;
                        }
                    }          
                }
            }

            .recharts-xAxis {
                .recharts-cartesian-axis-ticks {
                    .recharts-cartesian-axis-tick {
                        .recharts-cartesian-axis-tick-line {
                            stroke: $cream;
                        }
                    }
                }
            }
        }
    }
}