@import '../../styles/variables.scss';

.navVerticale {
    background: $black;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    width: 114px;
    min-height: 100vh;
    position: relative;

    //@media screen and (min-width: 1024px) { 
    @media only screen and (min-width: 1024px) and (max-width: 1200px) {
        //padding: 0 10px;
        padding: 0 15px;
        //width: 50px;
        width: 60px;
    }

    .icons {
        padding: 250px 0;

        //@media screen and (min-width: 1024px) { 
        @media only screen and (min-width: 1024px) and (max-width: 1200px) {
            //padding: 100px 0;        
            padding: 200px 0;        
        }

        .iconNavbar {
            height: 64px;
            width: 64px;
            margin-bottom: 20px;

            //@media screen and (min-width: 1024px) { 
            @media only screen and (min-width: 1024px) and (max-width: 1200px) {
                height: 30px;
                width: 30px;
                margin-bottom: 10px;
            }
        }
    }

    p {
        color: white;
        font-size: 12px;
        bottom: 125px;
        display: block;
        left: 50%;
        position: absolute;
        transform: translateX(-50%) rotate(-90deg);
        width: max-content;

        //@media screen and (min-width: 1024px) { 
        @media only screen and (min-width: 1024px) and (max-width: 1200px) {
            font-size: 10px;        
        }
    }
}