@import '../../styles/variables.scss';

// .headerHorizontal {
//     background: $black;
//     //display: flex;
//     display: grid;
//     //grid-template-columns: 1fr 5fr;
//     grid-template-columns: 20% 60%;
//     align-items: center;
//     padding: 10px 0 5px 20px;
//     width: 50%;
//     min-width: 1024px;

//     .logo {
//         //height: 60px;
//         width: 50%;
//     }

//     .navHorizontale {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;

//         .navbarLink {
//             color: $white;
//             text-decoration: none;
//             //font-size: 24px;
//         }
        
//     }
// }




// .headerHorizontal {
//     background: $black;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1em 4em 0.5em 1em;

//     .logo {
//         width: 10%;
//     }

//     .navbarLink {
//         color: $white;
//         text-decoration: none;
//         font-size: 70%;

//     }
// }


.headerHorizontal {
    background: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 90px 1% 30px;
    width: 100%;
    height: 60px;
    //height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); // Ajout d'un ombrage léger sous le bas

    @media all and (max-width:1260px) {
        height: 50px;
        padding: 1% 30px 1% 10px;
    }

    .logo {
        height: 50px;

        @media all and (max-width:1260px) {
            height: 30px;
        }
    }

    .navbar {
        width: 80%;
        
        .navbarList {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .navbarItem {
                list-style: none;

                .navbarLink {
                    color: $white;
                    text-decoration: none;
                    // font-size: 24px;
                    font-size: 20px;
                    
                    @media all and (max-width:1260px) {
                        font-size: 15px;
                    }
                }   
            }  
        }
    }
}